<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>141.6426849365234</real>
	<key>angleVariance</key>
	<real>280.7874145507812</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0.48095703125</real>
	<key>finishColorGreen</key>
	<real>1</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<real>10</real>
	<key>finishParticleSizeVariance</key>
	<real>5</real>
	<key>gravityx</key>
	<real>0</real>
	<key>gravityy</key>
	<real>0</real>
	<key>maxParticles</key>
	<real>100</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<real>0.2000000029802322</real>
	<key>particleLifespanVariance</key>
	<real>0.2000000029802322</real>
	<key>radialAccelVariance</key>
	<real>0</real>
	<key>radialAcceleration</key>
	<real>0</real>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>251.2746734619141</real>
	<key>rotationEndVariance</key>
	<real>251.2746734619141</real>
	<key>rotationStart</key>
	<real>346.0115051269531</real>
	<key>rotationStartVariance</key>
	<real>90.66611480712891</real>
	<key>sourcePositionVariancex</key>
	<real>200</real>
	<key>sourcePositionVariancey</key>
	<real>120</real>
	<key>sourcePositionx</key>
	<real>452.0811462402344</real>
	<key>sourcePositiony</key>
	<real>480.8722839355469</real>
	<key>speed</key>
	<real>10</real>
	<key>speedVariance</key>
	<real>0</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>0.28125</real>
	<key>startColorGreen</key>
	<real>1</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<real>3</real>
	<key>startParticleSizeVariance</key>
	<real>3</real>
	<key>tangentialAccelVariance</key>
	<real>0</real>
	<key>tangentialAcceleration</key>
	<real>0</real>
	<key>textureFileName</key>
	<string>bubble.tiff</string>
	<key>textureImageData</key>
	<string>H4sIAAAAAAAAAwHUASv+iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAY5JREFUOBF107lKQ0EUgOHEfd9QENxRFBdQEBRsbOx8AUGwtbK0EsHnEHwHCzs7C0VsFBcEN1yDKxrjvsT/F6/EEA98uTNzb07OmTsJx+PxUFJkMO9BK4oRxh22sIg/EU5K0MzdYVQjiiekw0Q6xDT28R2JCTpZGUMMK4jgBZkoRT16kY0JWFEoSFDBeBIPmMcR7vEGKzBBLRoxgHeMIprGhzGILCxgFyc4xw0usQfLfoT3TDSEkAnszQ3bwTGu8YzE+GBiVSXowC1sJ9Mdr0IOzmDZblyqsOxttMN9MVmdCXJh2O/nD+epYpXFfHTDfSm0BTfOd10E27Ga/8IqPBOvsM2oFZzCsmsQJFtnnCryWAzKv2J8ZAX2vYEmlMNKLDM5rK4MPtOAZbyZwJiDJ8+T6INW49lw7GZVwjW/2I8LzOL3IDluwTjsbwkn8L0bBahHH2x7Cgf4k8C5vzICD4pftj2rtC3flodsBhF8R3CUg3lw7WLQBns2PJGbWHOSGP8lCJ4pZOD/PRYsJF+/AAsVbEj+qKLYAAAAAElFTkSuQmCC6hEw2NQBAAA=</string>
</dict>
</plist>
