# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

.meta

#CocoaPods
Pods

bin/*
gen/*
obj/*
proj.android/bin
proj.android/gen
proj.android/obj
proj.as_google/app/obj
proj.as_google/local.properties
proj.as_google/.idea
proj.android-studio/app/obj
proj.android-studio/local.properties
proj.android-studio/.idea
proj.as_amazon/app/obj
proj.as_amazon/local.properties
proj.as_amazon/.idea
*.iml